<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartyCLI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PartyCLI.Properties.Settings>
            <setting name="TokenUrl" serializeAs="String">
                <value>https://playground.tesonet.lt/v1/tokens</value>
            </setting>
            <setting name="ServersListUrl" serializeAs="String">
                <value>https://playground.tesonet.lt/v1/servers</value>
            </setting>
        </PartyCLI.Properties.Settings>
    </userSettings>
</configuration>