################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetPartyCli/.vs/NetPartyCli/v15/Server/sqlite3
