<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartyCli.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <PartyCli.Properties.Settings>
            <setting name="ApiTokensUri" serializeAs="String">
                <value>http://playground.tesonet.lt/v1/tokens</value>
            </setting>
            <setting name="ApiServersUri" serializeAs="String">
                <value>http://playground.tesonet.lt/v1/servers</value>
            </setting>
            <setting name="CredentialsFileName" serializeAs="String">
                <value>Credentials.json</value>
            </setting>
            <setting name="ServersFileName" serializeAs="String">
                <value>Servers.json</value>
            </setting>
        </PartyCli.Properties.Settings>
    </applicationSettings>
</configuration>