<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets>
    <target xsi:type="File" name="fileTarget" fileName="./logs/all.txt"
            layout="${date}[${level:uppercase=true}][${logger}] ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
  </rules>
</nlog>